<div class="compare-space-container">
    <div class="compare-item">
        <p-card>
            <p-image 
                src="/assets/img/house.png" 
                alt="Image" 
                width="100%"
                height="100%" />
        </p-card>
    </div>
    <div class="compare-item">
        <p-card>
            <p-image 
                src="/assets/img/random.png" 
                alt="Image" 
                width="100%"
                height="100%" />
        </p-card>
    </div>
</div>