<div class="compare-space-container">
    <div class="compare-item">
        <p-card>
            <p-image 
                src="https://maps.googleapis.com/maps/api/streetview?size=600x600&location=40.1390229,-75.5171521&fov=80&heading=70&pitch=0&key=AIzaSyD7d_e4Sp5HVV0e_xDdM4Z1JJ9V8yPIGgs" 
                alt="Image" 
                width="600px"
                height="600px" />
        </p-card>
    </div>
    <div class="compare-item">
        <p-card>
            <p-image 
                src="https://maps.googleapis.com/maps/api/streetview?size=600x600&location=40.1443029,-75.516267&fov=80&heading=70&pitch=0&key=AIzaSyD7d_e4Sp5HVV0e_xDdM4Z1JJ9V8yPIGgs" 
                alt="Image" 
                width="600px"
                height="600px" />
        </p-card>
    </div>
</div>